* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #bdbdbd;
    padding: 10px; 
}

#header-logo-div{
    position: fixed;
}

#header-title-div {
    padding: 43px;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: px;
}

#logo {
    width: 180px;
}

h3 {
    padding-bottom: 5px;
}

section {
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: #dbdbdb;
    padding: 10px;
    vertical-align: top;
    margin: 10px;
}